* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Microsoft YaHei", serif;
  font-size: 14px;
}

/*图片块化和去掉IE标签*/
img {
  border: 0;
}

/*重置表格元素*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*重置文本样式元素*/
a {
  text-decoration: none;
}

/*重置li默认样式*/
ol, ul {
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}